
 # __DATA DESCRIPTION__

In [2]:
import pandas as pd
import numpy as np

movies_df = pd.read_csv('./data1/IMDb movies.csv')
ratings_df = pd.read_csv('./data1/IMDb ratings.csv')

C:\Users\abhis\AppData\Local\Temp\ipykernel_7396\537993871.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('./data1/IMDb movies.csv')

## MOVIES DATASET DESCRIPTION

In [29]:
movies_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

### _Shape_

In [12]:
print("Movie Dataset Shape:\n")
print(movies_df.shape)

Movie Dataset Shape:

(85855, 22)

### _DataSet columns and dataTypes_

In [11]:
print(" Movie Dataset Columns and Data Types:\n")
print(movies_df.dtypes)

 Movie Dataset Columns and Data Types:

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

### _Summary Statics_

In [28]:
print(" Statistics: \n")
print(movies_df.describe())

 Statistics:

           duration      avg_vote         votes     metascore  \
count  85855.000000  85855.000000  8.585500e+04  13305.000000
mean     100.351418      5.898656  9.493490e+03     55.896881
std       22.553848      1.234987  5.357436e+04     17.784874
min       41.000000      1.000000  9.900000e+01      1.000000
25%       88.000000      5.200000  2.050000e+02     43.000000
50%       96.000000      6.100000  4.840000e+02     57.000000
75%      108.000000      6.800000  1.766500e+03     69.000000
max      808.000000      9.900000  2.278845e+06    100.000000

       reviews_from_users  reviews_from_critics
count        78258.000000          74058.000000
mean            46.040826             27.479989
std            178.511411             58.339158
min              1.000000              1.000000
25%              4.000000              3.000000
50%              9.000000              8.000000
75%             27.000000             23.000000
max          10472.000000            999.000000

### _Checking missing values_

In [14]:
print("Checking Missing Values (Movie Dataset):\n ")
print(movies_df.isnull().sum())

Checking Missing Values (Movie Dataset):

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   901
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

### _Summary of categorical columns_

In [17]:
print("Summary of Categorical Columns (e.g., Genre, Country, Language):\n")
print("Unique genres:", movies_df['genre'].nunique())
print("Unique countries:", movies_df['country'].nunique())
print("Unique languages:", movies_df['language'].nunique())

Summary of Categorical Columns (e.g., Genre, Country, Language):

Unique genres: 1257
Unique countries: 4907
Unique languages: 4376

### _Unique Movies by IMBb ID_

In [18]:
print(" Unique Movies by IMDb ID:\n")
print(movies_df['imdb_title_id'].nunique())

 Unique Movies by IMDb ID:

85855

## RATING DATASET DESCRIPTION

In [31]:
ratings_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

### _Shape_

In [20]:
print(" Ratings Dataset Shape:\n")
print(ratings_df.shape)

 Ratings Dataset Shape:

(85855, 49)

### _DataSet columns and dataTypes_

In [21]:
print("Ratings Dataset Columns and Data Types:\n")
print(ratings_df.dtypes)

Ratings Dataset Columns and Data Types:

imdb_title_id                 object
weighted_average_vote        float64
total_votes                    int64
mean_vote                    float64
median_vote                  float64
votes_10                       int64
votes_9                        int64
votes_8                        int64
votes_7                        int64
votes_6                        int64
votes_5                        int64
votes_4                        int64
votes_3                        int64
votes_2                        int64
votes_1                        int64
allgenders_0age_avg_vote     float64
allgenders_0age_votes        float64
allgenders_18age_avg_vote    float64
allgenders_18age_votes       float64
allgenders_30age_avg_vote    float64
allgenders_30age_votes       float64
allgenders_45age_avg_vote    float64
allgenders_45age_votes       float64
males_allages_avg_vote       float64
males_allages_votes          float64
males_0age_avg_vote          float64
males_0age_votes             float64
males_18age_avg_vote         float64
males_18age_votes            float64
males_30age_avg_vote         float64
males_30age_votes            float64
males_45age_avg_vote         float64
males_45age_votes            float64
females_allages_avg_vote     float64
females_allages_votes        float64
females_0age_avg_vote        float64
females_0age_votes           float64
females_18age_avg_vote       float64
females_18age_votes          float64
females_30age_avg_vote       float64
females_30age_votes          float64
females_45age_avg_vote       float64
females_45age_votes          float64
top1000_voters_rating        float64
top1000_voters_votes         float64
us_voters_rating             float64
us_voters_votes              float64
non_us_voters_rating         float64
non_us_voters_votes          float64
dtype: object

### _Summary Statics_

In [22]:
print("Summary Statistics (Numerical Columns - Ratings):\n")
print(ratings_df.describe())

Summary Statistics (Numerical Columns - Ratings):

       weighted_average_vote   total_votes     mean_vote   median_vote  \
count           85855.000000  8.585500e+04  85855.000000  85855.000000
mean                5.898656  9.493490e+03      6.226342      6.267853
std                 1.234987  5.357436e+04      1.155280      1.481168
min                 1.000000  9.900000e+01      1.000000      1.000000
25%                 5.200000  2.050000e+02      5.600000      6.000000
50%                 6.100000  4.840000e+02      6.400000      6.000000
75%                 6.800000  1.766500e+03      7.000000      7.000000
max                 9.900000  2.278845e+06      9.800000     10.000000

           votes_10        votes_9        votes_8        votes_7  \
count  8.585500e+04   85855.000000   85855.000000   85855.000000
mean   1.216158e+03    1196.774608    2040.896337    2105.668371
std    1.245582e+04   11735.363316   13801.122865   10699.375191
min    0.000000e+00       0.000000       0.000000       0.000000
25%    2.100000e+01       8.000000      18.000000      28.000000
50%    5.100000e+01      24.000000      49.000000      77.000000
75%    1.920000e+02     111.500000     234.000000     342.000000
max    1.259076e+06  629582.000000  418070.000000  241832.000000

             votes_6       votes_5  ...  females_30age_avg_vote  \
count   85855.000000  85855.000000  ...            84911.000000
mean     1353.192802    700.291177  ...                6.071223
std      5976.801303   2931.301270  ...                1.454370
min         0.000000      0.000000  ...                1.000000
25%        30.000000     22.000000  ...                5.300000
50%        76.000000     53.000000  ...                6.300000
75%       290.000000    178.000000  ...                7.000000
max    145740.000000  78385.000000  ...               10.000000

       females_30age_votes  females_45age_avg_vote  females_45age_votes  \
count         84911.000000            83057.000000         83057.000000
mean            685.655451                6.022226           196.065341
std            3732.376186                1.541895           842.979585
min               1.000000                1.000000             1.000000
25%              10.000000                5.200000             6.000000
50%              27.000000                6.200000            16.000000
75%             109.000000                7.000000            62.000000
max          129249.000000               10.000000         34317.000000

       top1000_voters_rating  top1000_voters_votes  us_voters_rating  \
count           85176.000000          85176.000000      85646.000000
mean                5.155706             76.110231          5.925910
std                 1.290920            124.264020          1.308087
min                 1.000000              1.000000          1.000000
25%                 4.400000             11.000000          5.200000
50%                 5.300000             29.000000          6.100000
75%                 6.000000             77.000000          6.800000
max                10.000000            928.000000         10.000000

       us_voters_votes  non_us_voters_rating  non_us_voters_votes
count     85646.000000          85854.000000         85854.000000
mean       1647.822537              5.749638          4332.940865
std        8455.978158              1.285570         23243.807279
min           1.000000              1.000000             1.000000
25%          24.000000              5.000000            95.000000
50%          81.000000              6.000000           225.000000
75%         335.000000              6.700000           841.000000
max      348363.000000             10.000000        887226.000000

[8 rows x 48 columns]

### _Checking missing values_

In [25]:
print(" Checking Missing Values (Ratings Dataset):\n")
print(ratings_df.isnull().sum())

 Checking Missing Values (Ratings Dataset):

imdb_title_id                    0
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     52496
allgenders_0age_votes        52496
allgenders_18age_avg_vote      706
allgenders_18age_votes         706
allgenders_30age_avg_vote       10
allgenders_30age_votes          10
allgenders_45age_avg_vote       80
allgenders_45age_votes          80
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          58444
males_0age_votes             58444
males_18age_avg_vote          1465
males_18age_votes             1465
males_30age_avg_vote            12
males_30age_votes               12
males_45age_avg_vote           101
males_45age_votes              101
females_allages_avg_vote        81
females_allages_votes           81
females_0age_avg_vote        63738
females_0age_votes           63738
females_18age_avg_vote        6521
females_18age_votes           6521
females_30age_avg_vote         944
females_30age_votes            944
females_45age_avg_vote        2798
females_45age_votes           2798
top1000_voters_rating          679
top1000_voters_votes           679
us_voters_rating               209
us_voters_votes                209
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64

### _Unique Ratings by IMBb ID_

In [24]:
print(" Unique Ratings by IMDb ID:\n")
print(ratings_df['imdb_title_id'].nunique())

 Unique Ratings by IMDb ID:

85855

## _Relationship check between Movies and Ratings_

In [27]:
print(" Do all rated movies exist in the movies dataset?\n")
matched_ids = ratings_df['imdb_title_id'].isin(movies_df['imdb_title_id'])
print("Match %:", matched_ids.mean() * 100)

 Do all rated movies exist in the movies dataset?

Match %: 100.0